# PyCity Schools Analysis

# Charter Schools outperformed District schools in all categories of Avg Math Scores, Avg Reading Scores, % Passing Math, 
# % Passing Reading, and % Overall Passing.

# Medium and Smaller schools outperformed the largers in all categories, especially Math.

# As far as Spending Per Student, it appears the more dollars spent on students ironically reflected lower averages and lower passing percentages. 
# One surprising difference reflected a 27% variance between schools spending $585 or less, compared to those spending more($645 -$680). 

# Although the variances are somewhat surprising, further review would be required to understand overall dynamicos of each school to understand if there
# are underlying factors that need to be address. 

---

In [3]:
# Dependencies and Setup
import pandas as pd

from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


school_data["budget"] = school_data["budget"].astype(int)


# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [4]:
school_data_complete["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [110]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())

#school_count
school_count

15

In [111]:
# Calculate the total number of students - count of student IDs

student_Count = school_data_complete["Student ID"].count()
#student_count- actual count of student IDs. Best not to use names as some may have the same name.

print(student_Count)

39170

In [15]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
#total_budget
print(total_budget)

24649428

In [13]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
#average_math_score
print(average_math_score)

78.98537145774827

In [16]:
# Calculate the average (mean) reading score
average_reading_score =school_data_complete["reading_score"].mean()
#average_reading_score
print(average_reading_score)

81.87784018381414

In [38]:
# indentify the number of students that passed math in total
pass_Math_Students = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math_count = len(pass_Math_Students)
passing_math_count
print(passing_math_count)

29370

In [39]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

passing_math_percentage = (passing_math_count / float(student_Count)) * 100
passing_math_percentage
print(passing_math_percentage)

74.9808526933878

In [40]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
pass_Reading_Students = school_data_complete[school_data_complete["reading_score"] >= 70]
passing_reading_count = len(pass_Reading_Students)
passing_reading_count

33610

In [41]:
# passing_reading_percentage =
passing_reading_percentage = (passing_reading_count / student_Count) * 100
passing_reading_percentage
print(passing_reading_percentage)

85.80546336482001

In [47]:
# find all students in math and reading that scored 70 or higher
passingStudents = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
# passingStudents.head()
passing_math_reading_count = len(passingStudents)
passing_math_reading_count

25528

In [49]:
# Use the following to calculate the percentage of students that passed math and reading

overall_passing_rate = passing_math_reading_count /  float(student_Count) * 100
overall_passing_rate

65.17232575950983

In [53]:
# Create a high-level snapshot of the district's key metrics in a DataFrame - make a dictionary of lists
district_summary =pd.DataFrame(
    {
        "Total Schools": [school_count],
        "Total Students": [student_Count],
        "Total Budget": [total_budget],
        "Average Math Score": [average_math_score],
        "Average Reading Score": [average_reading_score],
        "% Passing Math": [passing_math_percentage],
        "% Passing Reading": [passing_reading_percentage],
        "% Overall Passing": [overall_passing_rate]
    }
)

# Formatting:
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("{:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [54]:
# Look at the school dataframe
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [59]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])
print(school_types)

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [61]:
# use the code provided to select the school type - get a series for all of the school types
school_types1 = school_types["type"]
school_types1

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [63]:
# Calculate the total student count per school from school_data based on the school name columm

per_School_Counts = school_data_complete["school_name"].value_counts()
print(per_School_Counts)

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [65]:
# get an average of the budget for each school using a groupby
grouped_SchoolDF = school_data_complete.groupby("school_name")
# create per school budget
per_School_Budget = grouped_SchoolDF.mean("budget")
# create a seriess
per_School_Budget = per_School_Budget["budget"]
per_School_Budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [66]:
# Calculate the total school budget and per capita spending per school from school_data
 
# per_school_capita = equal school budget divided by student count 
per_school_capita = per_School_Budget / per_School_Counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [69]:
# Calculate the average math test scores per school from school_data_complete
grouped_SchoolDF = school_data_complete.groupby("school_name")
avg_per_School_MathDF = grouped_SchoolDF.mean("math_score")
#convert to a series
per_School_math = avg_per_School_MathDF["math_score"]
per_School_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [70]:
# Calculate the average reading test scores per school from school_data_complete
grouped_SchoolDF = school_data_complete.groupby("school_name")
avg_per_School_ReadingDF = grouped_SchoolDF.mean("reading_score")
#convert to a series
per_School_reading = avg_per_School_MathDF["reading_score"]
per_School_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [73]:
# Calculate the number of students per school with math scores of 70 or higher
schoolPassingMathDF = school_data_complete[school_data_complete["math_score"] >= 70]
schoolPassingMathDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [76]:
# use a groupby to count the nubmer of students at each school who passed math
perSchoolPassingMathDF = schoolPassingMathDF.groupby("school_name")
perSchoolPassingMath = perSchoolPassingMathDF["student_name"].count()
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [79]:
# Calculate the number of students per school with reading scores of 70 or higher
schoolPassingReadingDF = school_data_complete[school_data_complete["reading_score"] >= 70]
schoolPassingReadingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [88]:
# use a groupby to count the nubmer of students at each school who passed Reading
perSchoolPassingReadingDF = schoolPassingReadingDF.groupby("school_name")
perSchoolPassingReading = perSchoolPassingReadingDF["student_name"].count()
perSchoolPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [92]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_readingDF = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby["school_name"]).size()
print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [96]:
# Use the provided code to calculate the passing rates
per_school_passing_math = perSchoolPassingMath / per_School_Counts * 100
per_school_passing_reading = perSchoolPassingReading / per_School_Counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_School_Counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [333]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(
    {
        "School Type": school_types1,
        "Total Students": per_School_Counts,
        "Total School Budget": per_School_Budget,
        "Per Student Budget": per_school_capita,
        "Average Math Score": per_School_math,
        "Average Reading Score": per_School_reading,
        "% Passing Math": per_school_passing_math,
        "% Passing Reading": per_school_passing_reading,
        "% Overall Passing": overall_passing_rate,
    }
)

# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:.2f}%".format)


# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [334]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schoolsDF = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schoolsDF.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [335]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schoolsDF = per_school_summary.sort_values(["% Overall Passing"])
bottom_schoolsDF.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [336]:
# first grab all of the 9th graders- filter based on the grade column
# school_data_complete.head()
ninth_gradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
#ninth_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
ninth_graderScoresDF = ninth_gradersDF.groupby(["school_name"])
ninth_graderScoresDF = ninth_graderScoresDF.mean(numeric_only=True)
#ninth_graderScoresDF
# extract out the math score column
ninth_grade_math_scores = ninth_graderScoresDF["math_score"]
ninth_grade_math_scores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [337]:
# first grab all of the 10th graders- filter based on the grade column
# school_data_complete.head()
tenth_gradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
#ninth_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
tenth_graderScoresDF = tenth_gradersDF.groupby(["school_name"])
tenth_graderScoresDF = tenth_graderScoresDF.mean(numeric_only=True)
#tenth_graderScoresDF
# extract out the math score column
tenth_grader_math_scores = tenth_graderScoresDF["math_score"]
tenth_grader_math_scores

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [338]:
# first grab all of the 11th graders- filter based on the grade column
# school_data_complete.head()
eleventh_gradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
#eleventh_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
eleventh_graderScoresDF = eleventh_gradersDF.groupby(["school_name"])
eleventh_graderScoresDF = eleventh_graderScoresDF.mean(numeric_only=True)
#eleventh_graderScoresDF
# extract out the math score column
eleventh_grader_math_scores = eleventh_graderScoresDF["math_score"]
eleventh_grader_math_scores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [339]:
# first grab all of the 12th graders- filter based on the grade column
# school_data_complete.head()
twelfth_gradersDF = school_data_complete[school_data_complete["grade"] == "12th"]
#twelfth_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
twelfth_graderScoresDF = twelfth_gradersDF.groupby(["school_name"])
twelfth_graderScoresDF = twelfth_graderScoresDF.mean(numeric_only=True)
#twelfth_graderScoresDF
# extract out the math score column
twelfth_grader_math_scores = twelfth_graderScoresDF["math_score"]
twelfth_grader_math_scores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [340]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_gradeDF = pd.DataFrame(
    {
        "9th": ninth_grade_math_scores,
        "10th": tenth_grader_math_scores,
        "11th": eleventh_grader_math_scores,
        "12th": twelfth_grader_math_scores,
    }
)

# Minor data wrangling

math_scores_by_gradeDF["9th"] = math_scores_by_gradeDF["9th"].map("{:.6f}".format)
math_scores_by_gradeDF["10th"] = math_scores_by_gradeDF["10th"].map("{:.6f}".format)
math_scores_by_gradeDF["11th"] = math_scores_by_gradeDF["11th"].map("{:.6f}".format)
math_scores_by_gradeDF["12th"] = math_scores_by_gradeDF["12th"].map("{:.6f}".format)

# remove school name from the pandas index
math_scores_by_gradeDF.index.name = None

# Display the DataFrame

math_scores_by_gradeDF

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [341]:
# first grab all of the 9th graders- filter based on the grade column
# school_data_complete.head()
ninth_gradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
#ninth_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
ninth_graderScoresDF = ninth_gradersDF.groupby(["school_name"])
ninth_graderScoresDF = ninth_graderScoresDF.mean(numeric_only=True)
#ninth_graderScoresDF
# extract out the reading score column
ninth_grade_reading_scores = ninth_graderScoresDF["reading_score"]
ninth_grade_reading_scores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [342]:
# first grab all of the 10th graders- filter based on the grade column
# school_data_complete.head()
tenth_gradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
#tenth_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
tenth_graderScoresDF = tenth_gradersDF.groupby(["school_name"])
tenth_graderScoresDF = tenth_graderScoresDF.mean(numeric_only=True)
#tenth_graderScoresDF
# extract out the reading score column
tenth_grade_reading_scores = tenth_graderScoresDF["reading_score"]
tenth_grade_reading_scores

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [343]:
# first grab all of the 11th graders- filter based on the grade column
# school_data_complete.head()
eleventh_gradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
#eleventh_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
eleventh_graderScoresDF = eleventh_gradersDF.groupby(["school_name"])
eleventh_graderScoresDF = eleventh_graderScoresDF.mean(numeric_only=True)
#eleventh_graderScoresDF
# extract out the reading score column
eleventh_grade_reading_scores = eleventh_graderScoresDF["reading_score"]
eleventh_grade_reading_scores

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [344]:
# first grab all of the 12th graders- filter based on the grade column
# school_data_complete.head()
twelfth_gradersDF = school_data_complete[school_data_complete["grade"] == "12th"]
#twelfth_gradersDF.head()
# next use a .groupby() to groupt students based on the school name column
twelfth_graderScoresDF = twelfth_gradersDF.groupby(["school_name"])
twelfth_graderScoresDF = twelfth_graderScoresDF.mean(numeric_only=True)
#twelfthh_graderScoresDF
# extract out the reading score column
twelfth_grade_reading_scores = twelfth_graderScoresDF["reading_score"]
twelfth_grade_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [345]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_gradeDF = pd.DataFrame(
    {
        "9th": ninth_grade_reading_scores,
        "10th": tenth_grade_reading_scores,
        "11th": eleventh_grade_reading_scores,
        "12th": twelfth_grade_reading_scores,
    }
)

# Minor data wrangling

reading_scores_by_gradeDF["9th"] = reading_scores_by_gradeDF["9th"].map("{:.6f}".format)
reading_scores_by_gradeDF["10th"] = reading_scores_by_gradeDF["10th"].map("{:.6f}".format)
reading_scores_by_gradeDF["11th"] = reading_scores_by_gradeDF["11th"].map("{:.6f}".format)
reading_scores_by_gradeDF["12th"] = reading_scores_by_gradeDF["12th"].map("{:.6f}".format)

# remove school name from the pandas index
reading_scores_by_gradeDF.index.name = None

# Display the DataFrame

reading_scores_by_gradeDF

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [346]:
# disply the per school summary dataframe
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%

In [347]:
# find max and min per student budget
print(per_school_summary["Per Student Budget"].max())
print(per_school_summary["Per Student Budget"].min())

$655.00
$578.00

In [348]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [349]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [350]:
# Use pd.cut to categorize spending bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [351]:
#school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].str.replace("$","").astype(str)

In [371]:
# Convert Spending Ranges (Per Student) to a string

school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].astype(float)
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].astype(float)
#school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].str.replace("%","").astype(float)
#school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].str.replace("%","").astype(float)
#school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].str.replace("%","").astype(float)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,<$585

In [372]:
# convertint to numeric
#spending_MathDF('Spending Ranges (Per Student)'] = pd.to_numeric(spending_MathDF['Spending Ranges (Per Student)'].str.replace('%', ''), errors='coerce')

In [373]:
# first, groupby the spending ranges
spending_MathDF = school_spending_df.groupby("Spending Ranges (Per Student)")

# look for the aggregate
spending_GroupedDF = spending_MathDF.mean(numeric_only=True)
spending_GroupedDF

# take the aggregate
spending_MathSeries = spending_GroupedDF["Average Math Score"]
spending_ReadingSeries= spending_GroupedDF["Average Reading Score"]
spending_PassingMathSeries= spending_GroupedDF["% Passing Math"]
spending_PassingReadingSeries= spending_GroupedDF["% Passing Reading"]
spending_PassingSeries= spending_GroupedDF["% Overall Passing"]

C:\Users\clane\AppData\Local\Temp\ipykernel_11696\1229288814.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_MathDF = school_spending_df.groupby("Spending Ranges (Per Student)")

In [374]:
# Assemble into DataFrame
spending_summaryDF = pd.DataFrame(
    { 
        "Average Math Score": spending_MathSeries,
        "Average Reading Score": spending_ReadingSeries,
        "% Passing Math": spending_PassingMathSeries,
        "% Passing Reading": spending_PassingReadingSeries,
        "% Overall Passing": spending_PassingSeries
    }

)

spending_summaryDF["Average Math Score"] = spending_summaryDF["Average Math Score"].map("{:.2f}".format)
spending_summaryDF["Average Reading Score"] = spending_summaryDF["Average Reading Score"].map("{:.2f}".format)
spending_summaryDF["% Passing Math"] = spending_summaryDF["% Passing Math"].map("{:.2f}".format)
spending_summaryDF["% Passing Reading"] = spending_summaryDF["% Passing Reading"].map("{:.2f}".format)
spending_summaryDF["% Overall Passing"] = spending_summaryDF["% Overall Passing"].map("{:.2f}".format) 

# Display results
spending_summaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

In [375]:
school_spending_df2 = school_spending_df.copy()
school_spending_df2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,<$585

In [376]:
#convert the total students column
school_spending_df2["Total Students"] = school_spending_df["Total Students"].str.replace(",","").astype(int)
school_spending_df2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,<$585

In [377]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [378]:
# renaming / creating school_size_df from school_spending_df2
school_size_df = school_spending_df2
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,<$585

In [379]:
school_size_df.dtypes

School Type                        object
Total Students                      int64
Total School Budget                object
Per Student Budget                 object
Average Math Score                float64
Average Reading Score             float64
% Passing Math                    float64
% Passing Reading                 float64
% Overall Passing                 float64
Spending Ranges (Per Student)    category
dtype: object

In [380]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], size_bins, labels=labels)
# school_size_df

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-630,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,<$585,Medium (1000-2000)

In [381]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
#school_size_df["School Size"] =

# Convert School Size to a string
#school_size_df["School Size"] = school_size_df["School Size"].astype(str)
#school_size_df

In [382]:
# Calculate averages for the desired columns.
sizeGroupedDF = school_size_df.groupby("School Size").mean(numeric_only=True)
sizeGroupedDF = sizeGroupedDF.sort_values(by='Average Math Score', ascending=False)

# Display results
sizeGroupedDF = sizeGroupedDF[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
# sizeGroupedDF

sizeGroupedDF["Average Math Score"] = sizeGroupedDF["Average Math Score"].map("{:.2f}".format)
sizeGroupedDF["Average Reading Score"] = sizeGroupedDF["Average Reading Score"].map("{:.2f}".format)
sizeGroupedDF["% Passing Math"] = sizeGroupedDF["% Passing Math"].map("{:.2f}%".format)
sizeGroupedDF["% Passing Reading"] = sizeGroupedDF["% Passing Reading"].map("{:.2f}%".format)
sizeGroupedDF["% Overall Passing"] = sizeGroupedDF["% Overall Passing"].map("{:.2f}%".format)
sizeGroupedDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,89.89%
Medium (1000-2000),83.37,83.87,93.60%,96.79%,90.62%
Large (2000-5000),77.75,81.34,69.96%,82.77%,58.28%

## Scores by School Type

In [387]:
#Calculate averages for the desired columns.
type_summaryDF = school_size_df.groupby("School Type").mean(numeric_only=True)
type_summaryDF = type_summaryDF.sort_values(by='School Type', ascending=True) 
#type_summaryDF

#Display results
type_summaryDF = type_summaryDF[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

type_summaryDF["Average Math Score"] = type_summaryDF["Average Math Score"].map("{:.2f}".format)
type_summaryDF["Average Reading Score"] = type_summaryDF["Average Reading Score"].map("{:.2f}".format)
type_summaryDF["% Passing Math"] = type_summaryDF["% Passing Math"].map("{:.2f}%".format)
type_summaryDF["% Passing Reading"] = type_summaryDF["% Passing Reading"].map("{:.2f}%".format)
type_summaryDF["% Overall Passing"] = type_summaryDF["% Overall Passing"].map("{:.2f}%".format)
type_summaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,90.43%
District,76.96,80.97,66.55%,80.80%,53.67%

In [ ]:
Analysis

Charter Schools outperformed District schools in all categories of Avg Math Scores, Avg Reading Scores, % Passing Math, 
% Passing Reading and % Overall Passing.

Medium and Smaller schools outperformed the largers in all categories, especially Math.

As far as Spending Per Student, it appears the more dollars spent on students ironically reflected lower averages and lower passing percentages. 
One surprising difference reflected a 27% variance between schools spending <$585 compared to those spending more ($645 -$680). 

Although the variances are somewhat surprising, further review would be required to understand overall dynamicos of each school to understand if there
are underlying factors that need to be address.